<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
    <style>
        body{
            background-color:aqua;
            text-align:center;
        }
    </style>
<body>
    <h2>Register</h2>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"><br>
        <input type="text" name="first_name" placeholder="firstname"><br>
        <input type="text" name="last_name" placeholder="lastname"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="password" name="password1" placeholder="again password"><br>
        <input type="submit"><br>
    </form>
    {% for i in messages %}
    <h4>{{i}}</h4>
    {% endfor %}
</body>
</html>